.avatarLeftSide {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}

.userAvatar {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.onlineDot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: greenyellow;
  top: 0.1rem;
  left: 4.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userName {
  font-size: 20px;
  font-weight: 500;
}
