.userBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.userAvatar {
  object-fit: cover;
  max-height: 375px;
  max-width: 375px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.input {
  border: none;
  padding: 0 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgba(234, 234, 234, 0.87);
  transition: all 200ms ease;
}

.input:focus {
  background-color: rgba(114, 189, 232, 0.751);
}

.input:hover {
  background-color: rgba(216, 216, 216, 0.87);
}

.button {
  font-size: 16px;
  transition: 200ms all ease;
  margin-top: 10px;
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(33, 112, 202, 0.805);
}

.button:hover {
  color: white;
}

.posts {
  margin-top: 30px;
}

.posts p {
  font-size: 16px;
  font-weight: 500;
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.avatarBlockText {
  text-align: center;
}