.container {
  margin-bottom: 15px;
}

.avatarLeftSide {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}

.userAvatar {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.onlineDot {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: greenyellow;
  top: 0.4rem;
  left: 2.3rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userName {
  font-size: 20px;
  font-weight: 500;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.secondary {
  border: 1px solid #1976d2;
  background-color: white;
}

.primary {
  background-color: #1976d2;
  color: white;
}

.middle {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

.like {
  display: flex;
  gap: 15px;
  align-items: end;
}

.like svg {
  cursor: pointer;
}
