.newPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postInput {
  color: white;
  width: 100%;
  background-color: #2d2d2d;
}

.postInput::placeholder {
  color: rgb(206, 206, 206);
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left svg {
  animation: spin 1s infinite forwards linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
